[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
ipython = "*"
pylint = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
codecov = "*"

[packages]
pypdf2 = "*"
pikepdf = "*"
img2pdf = "*"
wand = "*"
pypdf4 = "*"

[requires]
python_version = "3.8"
